
.login2background{
    background-image: url(https://s13.postimg.org/8xs7irifb/education2.png);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.loginbox{
    background: white;
    color: black;
    margin-top: 30%;
    left: 0;
    padding: 20px;
    box-shadow: 0 8px 50px -2px #000;
    border-radius:5px;

}
.logo{
    width: 130px;
    height: 55px;
    margin-left: 10%;
}
@media (max-width:767px) {
    .loginbox{
        margin-top: 10%;
    }
}

.loginbox_content{
    padding:5% 11% 5% 11%;

}

.singtext{
    font-family: "Open Sans",sans-serif;
    font-size: 27px;
    color: #82C226;
    float: right;
    padding-right: 25%;
}

.submit-btn{
    float: right;
    margin-right: 28%;
}

.forgotpassword{
    padding-left: 10%;
}
@media (max-width:800px) {
    .submit-btn{

        margin-right: 23%;
    }


}
